body {
font-size: 17px;
font-family: Verdana, sans-serif;
}

a {
color: blue;
}

td {
border: double black 1px;
padding: 5px;
margin: 2px;
text-align: center;
width: 40px;
height: 40px;
}

.err {
color: white;
font-weight: 400;
margin: 5px;
padding: 10px;
background-color: #f77;
border: solid #d00 2px;
border-radius: 3px;
}

.not {
color: white;
font-weight: 400;
margin: 5px;
padding: 10px;
background-color: #77f;
border: solid #00d 2px;
border-radius: 3px;
}

.okm {
color: black;
font-weight: 400;
margin: 5px;
padding: 10px;
background-color: #7f7;
border: solid #0d0 2px;
border-radius: 3px;
}

#descriptionbox {
color: black;
font-weight: 400;
margin: 5px;
padding: 10px;
background-color: #ddd;
border: solid #333 2px;
}

#calcinfo {
font-size: 14px;
margin-top: 24px;
}

#sourcecomment {
font-size: 11px;
width: 650px;
margin-top: 25px;
padding-top: 5px;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #353535;
}

span.tt {
font-family: monospace;
}

.trtop {
background-color: #333;
color: white;
width: 400px;
}

.trbodysmall {
font-size: 14px;
text-align: left;
}